# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Python virtual environment
venv/
env/
ENV/


# Ignore deployment files
*.crx
*.pem
*.zip

# Build, Test Build artifacts
VOD-Synchronizer_*.zip
VOD-Synchronizer-Test
VOD-Master_*.zip
VOD-Master-Test

# Development files
res/data/.singleLine.md
data_processing/
icons/.*.png
src/.test/
res/img/*.py
res/img/.*.png

# Temporary files
*.log
*.tmp
.DS_Store
Thumbs.db
src/module/soop_veditor_replacement.js
src/module/soop_vodcore_page_bridge.js
manifest.backup.json

# private file
src/module/youtube_api.js
TODO.txt

# cursor rules
.cursor/