# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Python virtual environment
venv/
env/
ENV/


# Ignore deployment files
*.crx
*.pem
*.zip

# Build, Test Build artifacts
VOD-Synchronizer_*.zip
VOD-Synchronizer-Test

# Development files
res/data/.singleLine.md
res/data/data_processing/
src/.test/

# Temporary files
*.log
*.tmp
.DS_Store
Thumbs.db

# private file
src/module/youtube_api.js